RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#For removing extension as Options +MultiViews not working with RewriteRule
RewriteRule ^([a-zA-Z0-9_]+)$ $1.php [QSA,NC,L]



RewriteRule ^users/create users/create.php [QSA,NC,L]
RewriteRule ^users/login users/login.php [QSA,NC,L]
RewriteRule ^users/forgot users/forgot.php [QSA,NC,L]
RewriteRule ^users/check_code users/check_code.php [QSA,NC,L]
RewriteRule ^users/reset_password users/reset_password.php [QSA,NC,L]
RewriteRule ^test config/check_db.php [QSA,NC,L]

RewriteRule ^transactions/create transactions/create.php [QSA,NC,L]
RewriteRule ^transactions/validate transactions/validate.php [QSA,NC,L]


ErrorDocument 404 404.php

#DirectoryIndex Options +Indexes

<FilesMatch ".(htaccess)">
  order allow,deny
  deny from all
</FilesMatch>

#Options +MultiViews

IndexIgnore *
